:root {
    --orange: #FF6700;
    --light-gray: #EBEBEB;
    --silver: #C0C0C0;
    --blue: #3A6EA5;
    --dark-blue: #004E98;
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.7rem 2rem;
    background-color: var(--dark-blue);
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    padding: 0.3rem 0;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--orange);
}

.nav-links a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--orange);
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
}